<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renxin.shujia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".karl.reader.BookShelfActivity"
            android:theme="@style/AppThemeAppCompat.NoActionBar" />
        <activity
            android:name=".crmstudy"
            android:label="@string/title_activity_crmstudy"
            android:theme="@style/AppThemeAppCompat.NoActionBar" />

        <activity
            android:name=".SortListView.crmSortListMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAppCompat.NoActionBar" />
    </application>

</manifest>
